@{
    ViewBag.Title = "Welcome";
}

<div class="row">
    <div class="col-xs-12">
        <h2>Welcome to SG Corp HR Portal!</h2>
        <p>This system allows us to keep track of  and manage current SG Corp policies.</p>
        <p class="text-danger">This system is currently in beta.</p>
    </div>
</div>
