

@{ 
    int counter = 0;
    int lastTagId = 0;
}

 <!-- Blog Sidebar Widgets Column -->
<div class="col-md-4">
    <!-- Blog Search Well -->
    <div class="well">
        <h4>Blog Search</h4>
        <div class="input-group">
            <input type="text" class="form-control" id="hashtagtext">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="btnSearchByHashtag">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
        <!-- /.input-group -->
    </div>
    <!-- Blog Categories Well -->
    <div class="well">
        <h4>Blog Categories</h4>
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-unstyled">
                    @foreach (var tag in Model._hashtags)
                    {
                        if (tag != null)
                        {
                            <li>
                                <a href="/Home/Index?hashtagName=@tag.HashtagName">#@tag.HashtagName</a>
                            </li>
                            counter++;
                        }
                        if (counter == 4)
                        {
                            lastTagId = tag.HashtagId;
                            break;
                        }
                    }
                </ul>
            </div>
            <div class="col-lg-6">
                <ul class="list-unstyled">
                    @foreach (var tag in Model._hashtags)
                    {
                        <li>
                            @if ((tag.HashtagId > lastTagId) && (tag != null))
                            {
                                <a href="/Home/Index?hashtagName=@tag.HashtagName">#@tag.HashtagName</a>
                                counter++;
                            }
                        </li>
                        if (counter == 8) { break; }
                    }
                </ul>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- Side Widget Well -->
    @*<div class="well">
            <h4>Side Widget Well</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
        </div>*@
</div>