
@{
    ViewBag.Title = "Home Page";
}
<br /><br /><br />
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-6">
        <center><img src="/Content/volvoWagon.jpg" alt="VOLVO" style="padding:1px; border:thin solid black; width:900px; height:338px"/></center>
    </div>
    <div class="col-sm-5"></div>
</div>