@model Exercises.Models.Data.Student

@{
    ViewBag.Title = "Delete";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Delete Student</h3>
        @Html.ActionLink("Return to Student List", "List", "Student")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm("Delete", "Student"))
        {
            @Html.HiddenFor(s => s.StudentId)
            <p>Are you sure that you wish to delete the student 
        @Html.DisplayFor(s => s.FirstName)@Html.DisplayFor(s => s.LastName)?</p>
            <button type="submit" class="btn btn-sm btn-danger"> Delete </button>
            @Html.ActionLink("Cancel", "List", "Student", null, new { @class = "btn btn-sm btn-info" })
        }
    </div>
</div>    