@{
    ViewBag.Title = "Home Page";
}

<br /><br /><br /><br />

<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-6">
            <img src="/Content/dvdstack2.jpg" alt="DVDstack" style="padding:1px; border:thin solid black;">
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>
